/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.94);
    overflow: auto;
}

.modal-content {
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-image: url('Images/Header3.jpg');
    background-repeat: repeat;
    background-size: 900px;
    color: #ffffff;
    position: relative;
    margin: 8% auto;
    padding: 0px;
    max-width: 40%;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #fefefe;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 40px;
}

.modal-bg {
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.50); /* Os três primeiros valores são para a cor (vermelho no exemplo), o último valor (0.5) é a transparência */
    padding-bottom: 40px;
    padding-top: 20px;
    margin-right: -20px;
    margin-left: -20px;
}

.close {
    color: #ffffff;
    position: absolute;
    top: 6px;
    right: 18px;
    font-size: 50px;
    cursor: pointer;
}

.project-video {
    margin-bottom: 20px; /* Adjust bottom margin as needed */
}

.project-links {
    color: #ffffff;
    margin-top: 25px; /* Add top margin as needed */
}

.project-title {
    color: #ffffff;
    font-size: 30px;
}

.project-description {
    font-size: 18px;
    color: #ffffff;
    margin-top: -22px; /* Add top margin as needed */
    max-width: 250px; /* Defina o valor máximo desejado para a largura */
    margin-left: 30px; /* Add top margin as needed */
    text-align: center;
}

/* Add styles to make YouTube videos responsive */
.project-video iframe {
    border-radius: 2%;
    border: 1px solid #ffffff;
    margin-bottom: 15px; /* Adjust bottom margin as needed */
    width: 80%;
    max-height: 70vh; /* Adjust maximum video height as needed */
}

/* Responsiveness for smaller screens */
@media (max-width: 578px) {
    .modal-content {
        padding: 20px;
        margin: 20% auto;
        max-width: 80%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .project-description {
        margin-top: -16px; /* Add top margin as needed */
        max-width: 300px; /* Defina o valor máximo desejado para a largura */
        margin-left: auto;
        margin-right: auto;
    }

    .project-video iframe {
        margin-bottom: 15px; /* Adjust bottom margin as needed */
        width: 80%;
        max-height: 24vh; /* Adjust maximum video height as needed */
    }
}

/* Responsiveness for smaller screens */
@media (min-width: 579px) {
    .modal-content {
        padding: 20px;
        margin: 20% auto;
        max-width: 80%;
        margin-top: 165px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .project-description {
        margin-top: -16px; /* Add top margin as needed */
        max-width: 500px; /* Defina o valor máximo desejado para a largura */
        margin-left: auto;
        margin-right: auto;
    }

    .project-video iframe {
        margin-bottom: 15px; /* Adjust bottom margin as needed */
        width: 90%;
        max-height: 28vh; /* Adjust maximum video height as needed */
    }
}

@media only screen and (min-width: 780px) {
    .modal-content {
        color: black;
        position: relative;
        margin: 8% auto;
        padding: 20px;
        max-width: 80%;
        max-height: 80vh;
        overflow-y: auto;
        background-color: #fefefe;
        border-radius: 10px;
        text-align: center;
        padding-bottom: 50px;
        margin-top: 165px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .project-description {
        margin-top: -16px; /* Add top margin as needed */
        max-width: 650px; /* Defina o valor máximo desejado para a largura */
        margin-left: auto;
        margin-right: auto;
    }
}



@media only screen and (min-width: 1000px) {
    .modal-content {
        color: black;
        position: relative;
        margin: 8% auto;
        padding: 20px;
        max-width: 70%;
        max-height: 80vh;
        overflow-y: auto;
        background-color: #fefefe;
        border-radius: 10px;
        text-align: center;
        padding-bottom: 50px;
        margin-top: 165px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .project-video iframe {
        margin-bottom: 15px; /* Adjust bottom margin as needed */
        width: 90%;
        max-height: 28vh; /* Adjust maximum video height as needed */
    }

    .project-description {
        margin-top: -16px; /* Add top margin as needed */
        max-width: 650px; /* Defina o valor máximo desejado para a largura */
    }
}

@media only screen and (min-width: 1200px) {
    .modal-content {
        color: black;
        position: relative;
        margin: 8% auto;
        padding: 20px;
        max-width: 40%;
        max-height: 80vh;
        overflow-y: auto;
        background-color: #fefefe;
        border-radius: 10px;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .project-video iframe {
        margin-bottom: 15px; /* Adjust bottom margin as needed */
        width: 80%;
        max-height: 70vh; /* Adjust maximum video height as needed */
    }

    .project-description {
        margin-top: -16px; /* Add top margin as needed */
        max-width: 580px; /* Defina o valor máximo desejado para a largura */
    }
}
