

/* Header background styling */
.about-title-bg {
    width: auto;
    margin: 10px 0;
    margin-bottom: 42px;
    margin-top: 35px;
    background-color: #a0a0a0;
    line-height: 1;
    background-color: rgba(24,21,27,0.2);
    border: 3px solid #ffffff;
    border-radius: 14px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}
.project-stack {
    font-size: 16px;
    border: 3px solid #ffffff;
    width: 100%;
    margin: 10px 0;
    margin-top: -0px;
    margin-bottom: 35px;
    background-color: rgba(24,21,27,0.2);
    color: #ffffff;
    padding-top: -25px;
    padding-bottom: 24px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}

.stack-icon {
    margin: 2px; /* Espaçamento entre os ícones */
    padding-bottom:5px;
}

    .stack-icon img {
        width: 100%; /* Faz com que os ícones ocupem toda a largura disponível */
        max-width: 50px; /* Define a largura máxima dos ícones */
        height: auto;
    }

.about-modal-content {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    background-color: #0B0011;
    background-image: url('Images/always-grey.png');
    background-repeat: repeat;
    background-size: 45px;
    background-position: center;
    overflow-y: auto;
    padding-top: 2px;
    padding-right: 20px;
    padding-left: 19px;
    padding: 1000px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}

.contact-description {
    font-size: 1444px;
    color: #ffffff;
    margin-top: -38px;
    margin-right: 27px;
    margin-left: 27px;
    text-align: center;
    margin-bottom: 24px;
    padding-top: 20px;
}

/* Responsiveness for smaller screens */
@media (max-width: 678px) {

    .about-title-bg {
        border-radius: 27px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -4.5px; /* Ajuste a quantidade de pixels conforme necessário */
        margin-top: 3px;
        margin-bottom: 15px;
    }

    .about-modal-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 27px;
        width: 80%;
        max-height: 90%;
        text-align: center;
        padding: 1000px;
    }

    .stack-icon img {
        width: 100%; /* Faz com que os ícones ocupem toda a largura disponível */
        max-width: 40px; /* Define a largura máxima dos ícones */
        height: auto;
    }

    .stack-icon {
        margin: 0px; /* Espaçamento entre os ícones */
    }
}

/* Responsiveness for smaller screens */
@media (min-width: 678px) {

    .about-title-bg {
        border-radius: 27px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -4.5px; /* Ajuste a quantidade de pixels conforme necessário */
        margin-top: 3px;
        margin-bottom: 15px;
    }

    .about-modal-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 27px;
        width: 50%;
        max-height: 90%;
        text-align: center;
        padding: 1000px;
    }
}

/* Responsiveness for medium screens */
@media (min-width: 1023px) {

    .about-title-bg {
        border-radius: 27px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -4.5px; /* Ajuste a quantidade de pixels conforme necessário */
        margin-top: 3px;
        margin-bottom: 15px;
    }

    .about-modal-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 27px;
        width: 41%;
        max-height: 90%;
        text-align: center;
        padding: 1000px;
    }

    .stack-icon img {
        width: 100%; /* Faz com que os ícones ocupem toda a largura disponível */
        max-width: 43px; /* Define a largura máxima dos ícones */
        height: auto;
    }

    .stack-icon {
        margin: 0px; /* Espaçamento entre os ícones */
    }
}

/* Responsiveness for medium screens */
@media (min-width: 1324px) {

    .about-title-bg {
        border-radius: 27px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -4.5px; /* Ajuste a quantidade de pixels conforme necessário */
        margin-top: 3px;
        margin-bottom: 15px;
    }

    .about-modal-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 27px;
        width: 35%;
        max-height: 90%;
        text-align: center;
        padding: 1000px;
    }

    .stack-icon img {
        width: 100%; /* Faz com que os ícones ocupem toda a largura disponível */
        max-width: 43px; /* Define a largura máxima dos ícones */
        height: auto;
    }

    .stack-icon {
        margin: 0px; /* Espaçamento entre os ícones */
    }
}

/* Responsiveness for medium screens */
@media (min-width: 1524px) {

    .about-title-bg {
        border-radius: 27px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -4.5px; /* Ajuste a quantidade de pixels conforme necessário */
        margin-top: 3px;
        margin-bottom: 15px;
    }

    .about-modal-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 27px;
        width: 32%;
        max-height: 90%;
        text-align: center;
        padding: 1000px;
    }

    .stack-icon img {
        width: 100%; /* Faz com que os ícones ocupem toda a largura disponível */
        max-width: 43px; /* Define a largura máxima dos ícones */
        height: auto;
    }

    .stack-icon {
        margin: 0px; /* Espaçamento entre os ícones */
    }
}

/* Responsiveness for medium screens */
@media (min-width: 1724px) {

    .about-title-bg {
        border-radius: 27px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -4.5px; /* Ajuste a quantidade de pixels conforme necessário */
        margin-top: 3px;
        margin-bottom: 15px;
    }

    .about-modal-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 27px;
        width: 27%;
        max-height: 90%;
        text-align: center;
        padding: 3000px;
    }

    .stack-icon img {
        width: 100%; /* Faz com que os ícones ocupem toda a largura disponível */
        max-width: 43px; /* Define a largura máxima dos ícones */
        height: auto;
    }

    .stack-icon {
        margin: 0px; /* Espaçamento entre os ícones */
    }
}

/* Responsiveness for medium screens */
@media (min-width: 2025px) {

    .about-title-bg {
        border-radius: 27px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -4.5px; /* Ajuste a quantidade de pixels conforme necessário */
        margin-top: 3px;
        margin-bottom: 15px;
    }

    .about-modal-content {
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 27px;
        width: 18%;
        max-height: 90%;
        text-align: center;
        padding: 3000px;
    }

    .stack-icon img {
        width: 100%; /* Faz com que os ícones ocupem toda a largura disponível */
        max-width: 43px; /* Define a largura máxima dos ícones */
        height: auto;
    }

    .stack-icon {
        margin: 0px; /* Espaçamento entre os ícones */
    }
}
