#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color:black;
    opacity: 0;
    z-index: 9999;
    transition: opacity 1s ease-in-out;
}

#overlay-content {
    visibility: hidden;
}
